.gradle/3.3/taskArtifacts/taskArtifacts.lock
.idea/copyright/profiles_settings.xml
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.idea/compiler.xml
.idea/inspectionProfiles/profiles_settings.xml
build/android-profile/profile-2017-03-28-15-33-06-789.rawproto
*.rawproto
*.iml
.idea/modules.xml
*.xml
*.properties
app/proguard-rules.pro
*.json
app/build/intermediates/incremental/compileDebugAndroidTestAidl/dependency.store
*.ap_
app/build/intermediates/symbols/debug/R.txt
*.txt
.gradle/3.3/taskArtifacts/fileHashes.bin
*.store
build/generated/mockable-android-25.jar
*.java
app/build/intermediates/res/merged/debug/drawable-hdpi-v4/abc_ic_star_half_black_48dp.png
*.png