*.bin
*.xml
*.lock
*.java
app/build/intermediates/blame/res/debug/multi/values-az-rAZ.json
*.json
app/build/intermediates/classes/debug/com/example/qcy/weather/R$id.class
*.class
*.png
*.dex
*.rawproto
local.properties
build/generated/mockable-android-25.jar
*.apk
*.txt
*.store
app/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
*.properties
app/build/intermediates/instant-run-resources/resources-debug.ir.ap_
*.jar
app/build/intermediates/incremental/packageDebug/zip-cache/c2rjl4AFOwnsmSV5PP1bv4qUUPw=
app/build/intermediates/instant-run-support/debug/manifest.crc
*.ap_
app/proguard-rules.pro
app/app.iml